#mainmap {
  height: 600px;
  width: 1000px;
  display: block;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#DestLabel {
  font-size: 200%;
  display: block;
  margin: 0 auto;
}

#Dest {
  font-size: 200%;
  display: block;
  margin: 0 auto;
}

button {
  font-size: 200%;
  outline: 0px;
  background-color: #afafaf;
  border-radius: 10%;
  text-align: center;

}