@font-face {
  font-family: "CustomFont";
  src: url("https://yoursite.com/css/fonts/CustomFont.eot");
  src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
}

#mainmap {
  height: 600px;
  width: 1000px;
  display: block;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: 'Roboto Mono', Courier, monospace;
}

#DestLabel {
  font-size: 300%;
  display: block;
  margin: 0 auto;
}

#Dest {
  text-align: center;
  font-size: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

button {
  font-family: 'Roboto Mono', Courier, monospace;
  font-size: 300%;
  outline: 0px;
  background-color: #dfdfdf;
  border-radius: 10%;
  text-align: center;

}